<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LSCMS--登录系统</title>
<link rel="stylesheet" href="extjs/resources/ext-theme-neptune/ext-theme-neptune-all.css">
<style>
.CheckCode{ float:left;}
.x-form-code{
	width:80px;
	height:24px;
	vertical-align:middle;
	cursor:pointer; 
	float:left;
	margin-left:5px;
	display:block;
	border:solid #80888B 1px;
} 
</style>
<script type="text/javascript" src="extjs/ext-all-debug.js"></script>
<script type="text/javascript" src="extjs/local/ext-lang-zh_CN.js"></script>
<script type="text/javascript" src="views/js/rollups/md5.js"></script>
<script type="text/javascript" src="views/js/JsHelper.js"></script>
<script type="text/javascript" src="views/js/login.js?v={:$v:}"></script>
</head>
<body>
</body>
</html>